.fireBackground{
    background-color: #FF421C;
}

.waterBackground{
    background-color: #2C9BE3;
}

.grassBackground{
    background-color: #62BC5A;
}

.normalBackground{
    background-color: #BBBBAA;
}

.darkBackground{
    background-color: #4E4545;
}

.fightingBackground{
    background-color: #BB5544;
}

.psychicBackground{
    background-color: #FF6380;
}

.ghostBackground{
    background-color: #6E4370;
}

.electricBackground{
    background-color: #FFDC00;
}

.groundBackground{
    background-color: #A67439;
}

.rockBackground{
    background-color: #BBAA66;
}

.steelBackground{
    background-color: #AAAABB;
}

.poisonBackground{
    background-color: #9553CD;
}

.flyingBackground{
    background-color: #96CAFF;
}

.bugBackground{
    background-color: #92C12A;
}

.iceBackground{
    background-color: #74CFC0;
}

.dragonBackground{
    background-color: #5670BE;
}

.fairyBackground{
    background-color: #EC8FE6;
}

